:root {
  /* Base Collection */
  --neutral-50: #f5f5f5;
  --neutral-100: #e6e6e6;
  --neutral-200: #d9d9d9;
  --neutral-300: #bfbfbf;
  --neutral-400: #8c8c8c;
  --neutral-500: #595959;
  --neutral-600: #434343;
  --neutral-700: #353535;
  --neutral-800: #262626;
  --neutral-900: #191818;
  --grayalt-50: #faf9f7;
  --grayalt-100: #f1efeb;
  --grayalt-200: #e1ddd5;
  --grayalt-300: #c9c2b7;
  --grayalt-400: #a69c8d;
  --grayalt-500: #857a6b;
  --grayalt-600: #685f52;
  --grayalt-700: #4e483f;
  --grayalt-800: #35312a;
  --grayalt-900: #1f1c18;
  --primary-50: #f0f5ff;
  --primary-100: #d6e4ff;
  --primary-200: #adc6ff;
  --primary-300: #85a5ff;
  --primary-400: #597ef7;
  --primary-500: #2f54eb;
  --primary-600: #1d39c4;
  --primary-700: #10239e;
  --primary-800: #061178;
  --primary-900: #030852;
  --red-50: #fef2f2;
  --red-100: #fde1e1;
  --red-200: #fac0c0;
  --red-300: #f49494;
  --red-400: #ec6060;
  --red-500: #e22f2f;
  --red-600: #c41f1f;
  --red-700: #a11717;
  --red-800: #7f1010;
  --red-900: #5c0a0a;
  --orange-50: #fff4ec;
  --orange-100: #ffe4cc;
  --orange-200: #ffc699;
  --orange-300: #ffa35e;
  --orange-400: #fa8228;
  --orange-500: #e86a0c;
  --orange-600: #c4560a;
  --orange-700: #a14508;
  --orange-800: #7f3506;
  --orange-900: #5c2604;
  --yellow-50: #fffbe6;
  --yellow-100: #fff1b8;
  --yellow-200: #ffe58f;
  --yellow-300: #ffd666;
  --yellow-400: #ffc53d;
  --yellow-500: #faad14;
  --yellow-600: #d48806;
  --yellow-700: #ad6800;
  --yellow-800: #874d00;
  --yellow-900: #613400;
  --green-50: #effbf1;
  --green-100: #d9f4dd;
  --green-200: #b1e7ba;
  --green-300: #7fd48f;
  --green-400: #4cbb61;
  --green-500: #2e9e43;
  --green-600: #1f8434;
  --green-700: #176829;
  --green-800: #114e1f;
  --green-900: #0b3815;
  --teal-50: #ecfbfa;
  --teal-100: #cff4f1;
  --teal-200: #9ee8e2;
  --teal-300: #64d3cb;
  --teal-400: #33b6ae;
  --teal-500: #1b968f;
  --teal-600: #127a75;
  --teal-700: #0e605c;
  --teal-800: #0a4744;
  --teal-900: #073332;
  --blue-50: #f0f7fe;
  --blue-100: #ddedfd;
  --blue-200: #b8d9f9;
  --blue-300: #86bdf3;
  --blue-400: #519eec;
  --blue-500: #1380ec;
  --blue-600: #0d6bc9;
  --blue-700: #0959aa;
  --blue-800: #094786;
  --blue-900: #08335e;
  --indigo-50: #f1f0fe;
  --indigo-100: #e0defc;
  --indigo-200: #c3bff8;
  --indigo-300: #9c92f1;
  --indigo-400: #7161e8;
  --indigo-500: #4b39e0;
  --indigo-600: #3627c4;
  --indigo-700: #2a1ea1;
  --indigo-800: #1f167f;
  --indigo-900: #160f5c;
  --pink-50: #fef1f7;
  --pink-100: #fcdfec;
  --pink-200: #f9bfdb;
  --pink-300: #f290c1;
  --pink-400: #e85aa0;
  --pink-500: #d62e80;
  --pink-600: #b41f68;
  --pink-700: #921754;
  --pink-800: #711041;
  --pink-900: #500a2e;
  --blackalpha-4: rgba(26, 29, 34, 0.04);
  --whitealpha-4: rgba(255, 255, 255, 0.04);
  --blackalpha-8: rgba(26, 29, 34, 0.08);
  --whitealpha-8: rgba(255, 255, 255, 0.08);
  --blackalpha-12: rgba(26, 29, 34, 0.12);
  --whitealpha-12: rgba(255, 255, 255, 0.12);
  --blackalpha-16: rgba(26, 29, 34, 0.16);
  --whitealpha-16: rgba(255, 255, 255, 0.16);
  --blackalpha-24: rgba(26, 29, 34, 0.24);
  --whitealpha-24: rgba(255, 255, 255, 0.24);
  --neutral-00: #ffffff;
  --grayalt-00: #ffffff;
  --purple-50: #f9f0ff;
  --purple-100: #efdbff;
  --purple-200: #d3adf7;
  --purple-300: #b37feb;
  --purple-400: #9254de;
  --purple-500: #722ed1;
  --purple-600: #531dab;
  --purple-700: #391085;
  --purple-800: #22075e;
  --purple-900: #120338;

  /* Spacing Collection */
  --space-0: 0px;
  --space-2: 2px;
  --space-4: 4px;
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;
  --space-20: 20px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-64: 64px;
  --space-80: 80px;
  --space-96: 96px;

  /* Radius Collection */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-2xl: 24px;
  --radius-full: 9999px;

  /* Elevation Collection */
  --elevation-base: "none";
  --elevation-raised: "0px 2px 4px rgba(0,0,0,0.10)";
  --elevation-overlay: "0px 8px 16px rgba(0,0,0,0.15)";
  --elevation-modal: "0px 16px 32px rgba(0,0,0,0.20)";
  --elevation-sticky: "0px 12px 24px rgba(0,0,0,0.18)";

  /* Stroke Width Collection */
  --stroke-thin: 1px;
  --stroke-medium: 2px;
  --stroke-thick: 3px;

  /* Opacity Collection */
  --opacity-0: 0px;
  --opacity-disabled: 0.5px;
  --opacity-loading: 0.6000000238418579px;
  --opacity-subtle: 0.699999988079071px;
  --opacity-semi: 0.800000011920929px;
  --opacity-full: 1px;

  /* Z-Index Collection */
  --z-dropdown: 100px;
  --z-sticky: 500px;
  --z-modal: 1000px;
  --z-tooltip: 1100px;
  --z-notification: 1200px;

  /* Breakpoints Collection */
  --bp-sm: 640px;
  --bp-md: 768px;
  --bp-lg: 1024px;
  --bp-xl: 1280px;
  --bp-2xl: 1536px;

  /* Icon Size Collection */
  --icon-xs: 12px;
  --icon-sm: 16px;
  --icon-md: 20px;
  --icon-lg: 24px;
  --icon-xl: 32px;
  --icon-2xl: 48px;

  /* Product Collection */
  --bg-base: var(--neutral-00);
  --bg-layer-1: var(--neutral-50);
  --bg-layer-2: var(--neutral-100);
  --bg-solid: var(--grayalt-900);
  --bg-state-hover: var(--blackalpha-4);
  --bg-state-solid-active: var(--whitealpha-12);
  --bg-state-container-hover: var(--whitealpha-8);
  --bg-mask: rgba(0, 0, 0, 0.45);
  --text-primary: var(--neutral-900);
  --text-secondary: var(--neutral-600);
  --text-tertiary: var(--neutral-400);
  --text-disabled: var(--neutral-300);
  --text-placeholder: var(--neutral-300);
  --text-inverse: var(--neutral-50);
  --border-primary: var(--neutral-200);
  --border-secondary: var(--neutral-300);
  --border-tertiary: var(--neutral-400);
  --border-disabled: var(--neutral-200);
  --border-placeholder: var(--neutral-200);
  --border-focus: var(--primary-100);
  --icon-primary: var(--neutral-900);
  --icon-secondary: var(--neutral-500);
  --icon-tertiary: var(--neutral-400);
  --icon-disabled: var(--neutral-200);
  --icon-placeholder: var(--neutral-300);
  --error-bg: var(--red-50);
  --error-bg-hover: var(--red-100);
  --error-bg-active: var(--red-200);
  --error-bg-filled-hover: var(--red-300);
  --error-border: var(--red-300);
  --error-border-hover: var(--red-400);
  --error-text: var(--red-600);
  --error-text-hover: var(--red-700);
  --error-text-active: var(--red-800);
  --error-solid: var(--red-600);
  --error-solid-hover: var(--red-700);
  --error-solid-active: var(--red-800);
  --error-disabled: var(--red-200);
  --warning-bg: var(--yellow-50);
  --warning-bg-hover: var(--yellow-100);
  --warning-bg-active: var(--yellow-200);
  --warning-bg-filled-hover: var(--yellow-300);
  --warning-border: var(--yellow-300);
  --warning-border-hover: var(--yellow-400);
  --warning-text: var(--yellow-600);
  --warning-text-hover: var(--yellow-700);
  --warning-text-active: var(--yellow-800);
  --warning-solid: var(--yellow-600);
  --warning-solid-hover: var(--yellow-700);
  --warning-solid-active: var(--yellow-800);
  --warning-disabled: var(--yellow-200);
  --success-bg: var(--green-50);
  --success-bg-hover: var(--green-100);
  --success-bg-active: var(--green-200);
  --success-bg-filled-hover: var(--green-300);
  --success-border: var(--green-200);
  --success-border-hover: var(--green-400);
  --success-text: var(--green-600);
  --success-text-hover: var(--green-700);
  --success-text-active: var(--green-800);
  --success-solid: var(--green-600);
  --success-solid-hover: var(--green-700);
  --success-solid-active: var(--green-800);
  --success-disabled: var(--green-100);
  --info-bg: var(--blue-50);
  --info-bg-hover: var(--blue-100);
  --info-bg-active: var(--blue-200);
  --info-bg-filled-hover: var(--blue-300);
  --info-border: var(--blue-300);
  --info-border-hover: var(--blue-400);
  --info-text: var(--blue-600);
  --info-text-hover: var(--blue-700);
  --info-text-active: var(--blue-800);
  --info-solid: var(--blue-600);
  --info-solid-hover: var(--blue-700);
  --info-solid-active: var(--blue-800);
  --info-disabled: var(--blue-200);
  --link-link-default: var(--blue-500);
  --link-link-hover: var(--blue-400);
  --link-link-active: var(--blue-600);
  --link-visited: var(--primary-600);
  --tag-grey-item: var(--neutral-900);
  --tag-grey-bg: var(--neutral-50);
  --tag-grey-bg-hover: var(--neutral-100);
  --tag-grey-border: var(--neutral-200);
  --tag-grey-border-hover: var(--neutral-300);
  --tag-red-item: var(--red-600);
  --tag-red-bg: var(--red-50);
  --tag-red-bg-hover: var(--red-200);
  --tag-red-border: var(--red-200);
  --tag-red-border-hover: var(--red-400);
  --tag-blue-item: var(--blue-600);
  --tag-blue-bg: var(--blue-50);
  --tag-blue-bg-hover: var(--blue-200);
  --tag-blue-border: var(--blue-200);
  --tag-blue-border-hover: var(--blue-400);
  --tag-orange-item: var(--orange-500);
  --tag-orange-bg: var(--yellow-50);
  --tag-orange-bg-hover: var(--orange-200);
  --tag-orange-border: var(--orange-200);
  --tag-orange-border-hover: var(--orange-300);
  --tag-purple-item: var(--purple-500);
  --tag-purple-bg: var(--purple-50);
  --tag-purple-bg-hover: var(--indigo-200);
  --tag-purple-border: var(--purple-200);
  --tag-purple-border-hover: var(--purple-300);
  --tag-yellow-item: var(--yellow-600);
  --tag-yellow-bg: var(--yellow-50);
  --tag-yellow-bg-hover: var(--yellow-200);
  --tag-yellow-border: var(--yellow-200);
  --tag-yellow-border-hover: var(--yellow-300);
  --tag-green-item: var(--green-600);
  --tag-green-bg: var(--green-50);
  --tag-green-bg-hover: var(--green-200);
  --tag-green-border: var(--green-200);
  --tag-green-border-hover: var(--green-300);
  --tag-teal-item: var(--teal-600);
  --tag-teal-bg: var(--teal-50);
  --tag-teal-bg-hover: var(--teal-200);
  --tag-teal-border: var(--teal-200);
  --tag-teal-border-hover: var(--teal-400);
  --tag-indigo-item: var(--indigo-600);
  --tag-indigo-bg: var(--blue-50);
  --tag-indigo-bg-hover: var(--blue-200);
  --tag-indigo-border: var(--blue-200);
  --tag-indigo-border-hover: var(--blue-400);
  --tag-brand-item: var(--primary-600);
  --tag-brand-bg: var(--primary-50);
  --tag-brand-bg-hover: var(--primary-200);
  --tag-brand-border: var(--primary-200);
  --tag-brand-border-hover: var(--primary-400);
  --tag-pink-item: var(--pink-500);
  --tag-pink-bg: var(--pink-50);
  --tag-pink-bg-hover: var(--pink-200);
  --tag-pink-border: var(--pink-200);
  --tag-pink-border-hover: var(--pink-400);
  --bg-state-active: var(--blackalpha-8);
  --bg-state-disabled: var(--blackalpha-4);
  --bg-state-container-disabled: var(--whitealpha-4);
  --border-inverse: var(--neutral-800);
  --icon-inverse: var(--neutral-00);
  --primary-bg: var(--primary-50);
  --primary-bg-hover: var(--primary-100);
  --primary-bg-active: var(--primary-200);
  --primary-bg-filled-hover: var(--primary-300);
  --primary-border: var(--primary-300);
  --primary-border-hover: var(--primary-400);
  --primary-text: var(--primary-500);
  --primary-text-hover: var(--primary-700);
  --primary-text-active: var(--primary-800);
  --primary-solid: var(--primary-500);
  --primary-solid-hover: var(--primary-600);
  --primary-solid-active: var(--primary-700);
  --primary-disabled: var(--primary-100);
  --primary-disabled-on-layer: var(--primary-300);
  --bg-layer-3: var(--neutral-00);
  --bg-item: var(--neutral-200);
  --bg-item-on-layer: var(--neutral-400);
  --primary-alias-primary-button: var(--neutral-00);
  --icon-item: var(--neutral-00);
  --link-danger-default: var(--red-600);
  --link-danger-hover: var(--red-500);
  --link-danger-active: var(--red-600);
  --link-danger-visited: var(--red-700);
  --tag-red-custom-bg: var(--red-500);
  --tag-red-custom-text: var(--neutral-00);
  --tag-yellow-custom-bg: var(--yellow-600);
  --tag-yellow-custom-text: var(--neutral-00);
  --tag-blue-custom-bg: var(--blue-500);
  --tag-blue-custom-text: var(--neutral-00);
  --tag-cyan-custom-bg: var(--teal-500);
  --tag-cyan-custom-text: var(--neutral-00);
  --tag-green-custom-bg: var(--green-500);
  --tag-green-custom-text: var(--neutral-00);
  --tag-megenta-custom-bg: var(--pink-500);
  --tag-megenta-custom-text: var(--neutral-00);
  --tag-purple-custom-bg: var(--purple-500);
  --tag-purple-custom-text: var(--neutral-00);
  --tag-orange-custom-bg: var(--orange-500);
  --tag-orange-custom-text: var(--neutral-00);
  --tag-indigo-custom-bg: var(--indigo-500);
  --tag-indigo-custom-text: var(--neutral-00);
  --map-info: var(--blue-500);
  --map-danger: var(--red-500);
  --map-warning: var(--yellow-500);
  --map-perfect: var(--green-500);
  --map-origin: var(--primary-500);
  --map-destination: var(--purple-500);

  /* Typography Collection */
  --size-2xs: 11px;
  --size-xs: 12px;
  --size-sm: 14px;
  --size-md: 16px;
  --size-lg: 18px;
  --size-xl: 20px;
  --size-2xl: 24px;
  --size-3xl: 28px;
  --size-4xl: 32px;
  --size-5xl: 40px;
  --size-6xl: 48px;
  --leading-2xs: 14px;
  --leading-xs: 16px;
  --leading-sm: 20px;
  --leading-md: 24px;
  --leading-lg: 24px;
  --leading-xl: 28px;
  --leading-2xl: 32px;
  --leading-3xl: 36px;
  --leading-4xl: 40px;
  --leading-5xl: 48px;
  --leading-6xl: 52px;
  --size-7xl: 56px;
  --size-8xl: 64px;
  --leading-7xl: 56px;
  --leading-8xl: 72px;
  --family-sans: "Geist";
  --weight-regular: "Regular";
  --weight-medium: "Medium";
  --weight-semibold: "SemiBold";
  --weight-bold: "Bold";

}